<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  <p>&copy; 2022 The AxonLab</p>
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="https://p3.snf.ch/project-185872">SNFS 185872</a><br />
		  - <a href="https://reporter.nih.gov/project-details/10260312">NIMH RF1MH121867</a><br />
		</div>
		<div class="col-sm-4">
		  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/logo_unil_chuv_fbm.png" style="width: 210px; padding-right: 5px" />
		  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/logo_snf.gif" style="width: 210px" />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
