<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div style="float: right">
		  <p>The AxonLab &copy; 2020-2022</p>
		</div>
	  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/logo_unil_chuv_fbm.png" style="height: 55px; padding-right: 8px" />
	  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/logo_snf.gif" style="height: 45px;" />
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
