<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  <p>&copy; 2020 The Axon Laboratory.</p>
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="http://www.snf.ch/en/funding/careers/ambizione/Pages/default.aspx">Ambizione</a>
		  PZ00P2_185872<br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Service de radiodiagnostic et radiologie interventionnelle<br />
		  RC07 04 - 006<br />
		  <a href="https://goo.gl/maps/NkVehyZFNmqAx7YQ6">Rue Centrale 8<br />
		  CH-1003 Lausanne (Switzerland)</a><br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
